{include file="public/header" /}
<div class="wrapper wrapper-content animated fadeInRight">
    <section class="content ">
        <!-- Main content -->
        <div class="container-fluid">
            <div class="pull-right">
                <a href="javascript:history.go(-1)" data-toggle="tooltip" title="" class="btn btn-default" data-original-title="返回"><i class="fa fa-reply"></i></a>
  
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3 class="panel-title"><i class="fa fa-list"></i>  审核会员身份级别</h3>
                </div>
                <div class="panel-body ">   
                    <!--表单数据-->
                    <form method="post" id="position" action="{:U('shop/User/check')}">                    
                        <!--通用信息-->
                    <div class="tab-content col-md-10">                       
                        <div class="tab-pane active" id="tab_tongyong">                           
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <td class="col-sm-2">会员ID：</td>
                                    <td class="col-sm-4">
                                        {$data.user_id}        
                                    </td>
                                </tr>  

                                <tr>
                                    <td>会员昵称：</td>
                                    <td>
                                        {$data.nickname}
                                    </td>
                                </tr>
                                
                                <tr>
                                    <td>申请身份级别：</td>
                                    <td>
                                        {$data.level}
                                    </td>
                                </tr>

                                <tr>
                                    <td>创建时间：</td>
                                    <td>
                                    {if condition="$data.create_time eq 0"}{else/}{$data.create_time|date="Y-m-d H:i:s",###}
                                    {/if}
                                    </td>
                                </tr>

                                <tr>
                                    <td>审核状态：</td>
                                    <td>
                                        <select class="form-control m-b chosen-select" name="status">
                                            <option value="">==请审核会员身份级别==</option>
                                            <option {if condition="@$data['status'] eq -1"}selected{/if} value="-1">审核不通过</option>
                                            <option {if condition="@$data['status'] eq 0"}selected{/if} value="0">待审核</option>
                                            <option {if condition="@$data['status'] eq 1"}selected{/if} value="1">审核通过</option>
                                        </select>
                                        <td class="col-sm-4">审核会员身份级别</td>
                                    </td>
                                </tr>

                                <tr>
                                    <td>备注：</td>
                                    <td>
                                        <textarea rows="5" cols="30" name="remark">{$data.remark|default=''}</textarea>
                                    </td>
                                    <td class="col-sm-4">备注信息</td>
                                </tr>     

                                </tbody> 
                                <tfoot>
                                    <tr>
                                        <input type="hidden" name="user_id" value="{$data.user_id}">
                                        <input type="hidden" name="id" value="{$data.id}">
                                    <td class="text-right" colspan="3" style="text-align: center;"><input class="btn btn-primary" type="button" onclick="adsubmit()" value="保存"></td></tr>
                                </tfoot>                               
                                </table>
                        </div>                           
                    </div>              
                    </form><!--表单数据-->
                </div>
            </div>
        </div>
    </section>
</div>
<script>
function adsubmit(){
    $('#position').submit();
}
</script>
</body>
</html>