{include file="public/header" /}
<div class="wrapper wrapper-content animated fadeInRight">
    <section class="content ">
        <!-- Main content -->
        <div class="container-fluid">
            <div class="pull-right">
                <a href="javascript:history.go(-1)" data-toggle="tooltip" title="" class="btn btn-default" data-original-title="返回"><i class="fa fa-reply"></i></a>
  
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3 class="panel-title"><i class="fa fa-list"></i> 添加分佣区域</h3>
                </div>
                <div class="panel-body ">   
                    <!--表单数据-->
                    <form method="post" id="handleposition" action="{:U('shop/User/distSetHandle')}">                    
                        <!--通用信息-->
                    <div class="tab-content col-md-10">                 	  
                        <div class="tab-pane active" id="tab_tongyong">                           
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <td class="col-sm-2">最低金额：</td>
                                    <td class="col-sm-4">
                                        <input type="text" class="form-control" name="lowermoney" value="{$info.lowermoney|default=''}" >
                                        <span id="err_attr_name" style="color:#F00; display:none;"></span>                                        
                                    </td>
                                    <td class="col-sm-4">满足消费最低金额（>=）
                                    </td>
                                </tr>  
                                <tr>
                                    <td>最高金额：</td>
                                    <td >
                         				<input type="text" class="form-control" name="topmoney" value="{$info.topmoney|default=''}">
                                    </td>
                                    <td class="col-sm-4">满足消费最高金额（<）</td>
                                </tr>
                                <tr>
                                    <td>分佣比例：</td>
                                    <td>
                               			<input type="text" class="form-control" name="proportion" value="{$info.proportion|default=''}">     
                                    </td>
                                    <td class="col-sm-4">分成比例(%)</td>
                                </tr>
                                <tr>
                                <td>会员等级:</td>
                                <td>
                                    <select name="user_level" class="form-control" id="user_level">
                                        <option value="">请选择</option>
                                        <option {if condition="@$info['user_level'] eq 3"}selected{/if} value="3">钻卡</option>
                                        <option {if condition="@$info['user_level'] eq 4"}selected{/if} value="4">公司</option>
                                    </select>
                                </td>
                                <td>会员等级</td>
                                </tr>  
                                                            
                                </tbody> 
                                <tfoot>
                                	<tr>
                                		<input type="hidden" name="id" value="{$info.id|default=''}">
                                	<td class="text-right" colspan="3" style="text-align: center;"><input class="btn btn-primary" type="buuton" onclick="adsubmit()" value="保存"></td></tr>
                                </tfoot>                               
                                </table>
                        </div>                           
                    </div>              
			    	</form><!--表单数据-->
                </div>
            </div>
        </div>
    </section>
</div>
<script>
function adsubmit(){

    if ($.trim($('#user_level').val()).length == 0) {
            layer.alert('请选择会员等级', {icon: 2});
            return false;
        }
	$('#handleposition').submit();
}
</script>
</body>
</html>