{include file="public/header" /}

<link rel="stylesheet" type="text/css" media="all" href="/sldate/daterangepicker-bs3.css" />
<!-- <script type="text/javascript" src="/sldate/moment.js"></script>
<script type="text/javascript" src="/sldate/daterangepicker.js"></script> -->

<link rel="stylesheet" type="text/css" href="/static/admin/webupload/webuploader.css">
<link rel="stylesheet" type="text/css" href="/static/admin/webupload/style.css">
<!-- <script type="text/javascript">
       $(document).ready(function() {
          $('#reservation').daterangepicker(null, function(start, end, label) {
            console.log(start.toISOString(), end.toISOString(), label);
          });
       });

</script> -->
<style>
.file-item{float: left; position: relative; width: 110px;height: 110px; margin: 0 20px 20px 0; padding: 4px;}
.file-item .info{overflow: hidden;}
.uploader-list{width: 100%; overflow: hidden;}
</style>
<div class="wrapper wrapper-content animated fadeInRight">
    <section class="content ">
        <!-- Main content -->
        <div class="container-fluid">
            <div class="pull-right">
                <a href="javascript:history.go(-1)" data-toggle="tooltip" title="" class="btn btn-default" data-original-title="返回"><i class="fa fa-reply"></i></a>
  
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3 class="panel-title"><i class="fa fa-list"></i> 添加会员等级</h3>
                </div>
                <div class="panel-body ">   
                    <!--表单数据-->
                    <form method="post" id="handleposition" action="{:U('shop/Pig/pigHandle')}">                    
                        <!--通用信息-->
                    <div class="tab-content col-md-10">                 	  
                        <div class="tab-pane active" id="tab_tongyong">                           
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <td class="col-sm-2">名称</td>
                                    <td class="col-sm-4">
                                        <input type="text" class="form-control" name="goods_name" value="{$info.goods_name|default=''}" >
                                        <span id="err_attr_name" style="color:#F00; display:none;"></span>                                        
                                    </td>
                                    <td class="col-sm-4">填写名称
                                    </td>
                                </tr> 
                                <tr>
                                    <td>最小金额：</td>
                                    <td >
                                        <input type="text" class="form-control" name="small_price" value="{$info.small_price|default=''}">
                                    </td>
                                    <td class="col-sm-4">请填写最小金额(元)</td>
                                </tr> 
                                <tr>
                                    <td>最大金额：</td>
                                    <td >
                                        <input type="text" class="form-control" name="large_price" value="{$info.large_price|default=''}">
                                    </td>
                                    <td class="col-sm-4">请填写最大金额(元)</td>
                                </tr>
                                <tr>
                                    <td>领养开始时间</td>
                                    <td >
                                        <input type="text" id="test3" class="form-control" name="start_time" value="{$info.start_time|default=''}">
                                    </td>
                                    <td class="col-sm-4">请选择领养开始时间</td>
                                </tr> 
                                <tr>
                                    <td>领养结束时间</td>
                                    <td >
                                        <input type="text" id="test4" class="form-control" name="end_time" value="{$info.end_time|default=''}">
                                    </td>
                                    <td class="col-sm-4">请选择领养结束时间</td>
                                </tr>
                                 <tr>
                                    <td>预约福分数量</td>
                                    <td >
                                        <input type="text" class="form-control" name="reservation" value="{$info.reservation|default=''}">
                                    </td>
                                    <td class="col-sm-4">请填写预约福分数量</td>
                                </tr>
                                 <tr>
                                    <td>领养福分数量</td>
                                    <td >
                                        <input type="text" class="form-control" name="adoptive_energy" value="{$info.adoptive_energy|default=''}">
                                    </td>
                                    <td class="col-sm-4">请填写领养福分数量</td>
                                </tr> 
                                <tr>
                                    <td>合约收益天数</td>
                                    <td >
                                        <input type="text" class="form-control" name="contract_days" value="{$info.contract_days|default=''}">
                                    </td>
                                    <td class="col-sm-4">请填写合约收益天数</td>
                                </tr>
                                <tr>
                                    <td>合约收益比例</td>
                                    <td >
                                        <input type="text" class="form-control" name="income_ratio" value="{$info.income_ratio|default=''}">
                                    </td>
                                    <td class="col-sm-4">请填写合约收益比例(%)</td>
                                </tr>  
                                <tr>
                                    <td>可挖FISH</td>
                                    <td >
                                        <input type="text" class="form-control" name="pig_currency" value="{$info.pig_currency|default=''}">
                                    </td>
                                    <td class="col-sm-4">请填写可挖FISH数量(枚)</td>
                                </tr>
                                 <tr>
                                    <td>可挖SHRIMP</td>
                                    <td >
                                        <input type="text" class="form-control" name="doge_money" value="{$info.doge_money|default=''}">
                                    </td>
                                    <td class="col-sm-4">请填写可挖SHRIMP(%)</td>
                                </tr>
                         
                                <tr>
                                    <td>图片：</td>
                                    <td >
                                        <input type="hidden"  id="data_photo" name="images"  value="{$info.images|default=''}" />
                                        <div id="fileList" class="uploader-list" style="float:right"></div>
                                        <div id="imgPicker" style="float:left;">选择图片</div>
                                        <img id="img_data" height="100px" style="float:left;margin-left: 50px;margin-top: -10px;" onerror="this.src='/static/admin/images/no_img.jpg'" src="/uploads/images/{$info.images|default=''}"/>
                                        </td>                                 
                                </tr> 
                                </tbody> 
                                <tfoot>
                                	<tr>
                                	<input type="hidden" name="act" value="{$act|default=''}">
                                		<input type="hidden" name="id" value="{$info.id|default=''}">
                                	<td class="text-right" colspan="3" style="text-align: center;"><input class="btn btn-primary" type="buuton" onclick="adsubmit()" value="保存"></td></tr>
                                </tfoot>                               
                                </table>
                        </div>                           
                    </div>              
			    	</form><!--表单数据-->
                </div>
            </div>
        </div>
    </section>
</div>
<script>
function adsubmit(){
	$('#handleposition').submit();
}
</script>

<script src="__STATIC__/admin/laydate/laydate.js"></script>
<script type="text/javascript">

//时间选择器
   laydate.render({
    elem: '#test3'
    ,type: 'time'
  });

  laydate.render({
    elem: '#test4'
    ,type: 'time'
  });



</script>
<script type="text/javascript" src="__STATIC__/admin/webupload/webuploader.min.js"></script>

<script type="text/javascript">
    var $list = $('#fileList');
    //上传图片,初始化WebUploader
    var uploader = WebUploader.create({
     
        auto: true,// 选完文件后，是否自动上传。   
        swf: '__STATIC__/admin/webupload/Uploader.swf',// swf文件路径 
        server: "{:url('__STATIC__/admin/Upload/upload')}",// 文件接收服务端。
        duplicate :true,// 重复上传图片，true为可重复false为不可重复
        pick: '#imgPicker',// 选择文件的按钮。可选。

        accept: {
            title: 'Images',
            extensions: 'gif,jpg,jpeg,bmp,png',
            mimeTypes: 'image/jpg,image/jpeg,image/png'
        },

        'onUploadSuccess': function(file, data, response) {
            $("#data_photo").val(data._raw);
            $("#img_data").attr('src', '/uploads/images/' + data._raw).show();
        }
    });

    uploader.on( 'fileQueued', function( file ) {
        $list.html( '<div id="' + file.id + '" class="item">' +
            '<h4 class="info">' + file.name + '</h4>' +
            '<p class="state">正在上传...</p>' +
        '</div>' );
    });

    // 文件上传成功
    uploader.on( 'uploadSuccess', function( file ) {
        $( '#'+file.id ).find('p.state').text('上传成功！');
    });

    // 文件上传失败，显示上传出错。
    uploader.on( 'uploadError', function( file ) {
        $( '#'+file.id ).find('p.state').text('上传出错!');
    }); 


</script>
</body>
</html>