{include file="public/header"/}

<div class="wrapper wrapper-content animated fadeInRight">
    <!-- Content Header (Page header) -->
    
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3 class="panel-title"><i class="fa fa-list"></i> 交易订单</h3>
                </div>
                <div class="ibox-content">
                    <div class="navbar navbar-default">
                            <form action="{:U('shop/order/export_order')}" id="search-form2" class="navbar-form form-inline" method="post">

                                <div class="form-group">
                                    <label class="control-label" for="input-order-id">订单编号</label>
                                    <div class="input-group">
                                        <input type="text" name="pig_order_sn" placeholder="订单编号" id="input-order-id" class="input-sm" style="width:150px;">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="input-order-id">出售人手机号</label>
                                    <div class="input-group">
                                        <input type="text" name="mobile" placeholder="出售人手机号" id="input-member-id" class="input-sm" style="width:150px;">
                                    </div>
                                </div>
                                   <div class="form-group">
                                    <label class="control-label" for="input-order-id">出售人id</label>
                                    <div class="input-group">
                                        <input type="text" name="id" placeholder="出售人id" id="input-member-id" class="input-sm" style="width:150px;">
                                    </div>
                                </div>
                                <div class="form-group">
                                   <select name="pig_level" class="input-sm" style="width:150px;">
                                            <option value="">请选择鱼等级</option>
                                            {foreach name="pig" item="v" key="k"}
                                            <option value="{$v['id']}">{$v['goods_name']}</option>
                                            {/foreach}
                                    </select>
                                </div>
                              <!--   <div class="form-group">
                                   <select name="is_able_sale" class="input-sm" style="width:180px;">
                                            <option value="">请选择状态</option>
                                            <option value="0">繁殖中</option>
                                            <option value="1">成熟</option>
                                    </select>
                                </div> -->
                           <!--      <div class="form-group">
                                    <label class="control-label" for="input-order-id">购买人昵称</label>
                                    <div class="input-group">
                                        <input type="text" name="purchase_user_id" placeholder="购买人昵称" id="input-member-id" class="input-sm" style="width:100px;">
                                    </div>
                                </div> -->
                              
                    
                                <div class="form-group">
                                    <select name="pay_status" class="input-sm" style="width:150px;">
                                            <option value="">交易状态</option>
                                            <option value="0">冻结</option>
                                            <option value="1">交易中</option>
                                            <option value="2">交易完成</option>
                                    </select>
                                </div>
                             
                         <!--        <div class="form-group">
                                    <select name="shipping_status" class="input-sm" style="width:100px;">
                                            <option value="">发货状态</option>
                                            <option value="0">未发货</option>
                                            <option value="1">已发货</option>
                                            <option value="2">部分发货</option>
                                    </select>
                                </div> -->
                                <div class="form-group">
                                 <!--    <select name="order_status" class="input-sm" style="width:100px;">
                                        <option value="">订单状态</option>
                                       
                                    </select> -->
                                    <input type="hidden" name="order_by" value="order_id">
                                    <input type="hidden" name="sort" value="desc">
                                    <input type="hidden" name="user_id" value="{$Request.param.user_id}">
                                </div>
                                <div class="form-group">
                                    <a href="javascript:void(0)" onclick="ajax_get_table('search-form2',1)" id="button-filter search-order" class="btn btn-primary"><i class="fa fa-search"></i> 筛选</a>
                                </div>
                                <div class="form-group">
                                    <!-- <a href="{:url('Order/add_order')}" class="btn btn-primary"><i class="fa fa-search"></i>添加订单</a> -->
                                </div>                                
                                <!-- <button type="submit" class="btn btn-default pull-right"><i class="fa fa-file-excel-o"></i>&nbsp;导出excel</button>                                -->
                            </form>
                    </div>
                    <div id="ajax_return">

                    </div>

                </div>
            </div>
        </div>        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<script>
    $(document).ready(function(){
        ajax_get_table('search-form2',1);
        
        $('#add_time').daterangepicker({
            format:"YYYY/MM/DD",
            singleDatePicker: false,
            showDropdowns: true,
            minDate:'2016/01/01',
            maxDate:'2030/01/01',
            startDate:'2016/01/01',
            locale : {
                applyLabel : '确定',
                cancelLabel : '取消',
                fromLabel : '起始时间',
                toLabel : '结束时间',
                customRangeLabel : '自定义',
                daysOfWeek : [ '日', '一', '二', '三', '四', '五', '六' ],
                monthNames : [ '一月', '二月', '三月', '四月', '五月', '六月','七月', '八月', '九月', '十月', '十一月', '十二月' ],
                firstDay : 1
            }
        });
    });
    
    // ajax 抓取页面
    function ajax_get_table(tab,page){
        cur_page = page; //当前页面 保存为全局变量
            $.ajax({
                type : "POST",
                url:"/index.php/shop/pig/ajaxindex/p/"+page,//+tab,
                data : $('#'+tab).serialize(),// 你的formid
                success: function(data){
                    $("#ajax_return").html('');
                    $("#ajax_return").append(data);
                }
            });
    }

    // 点击排序
    function sort(field)
    {
        $("input[name='order_by']").val(field);
        var v = $("input[name='sort']").val() == 'desc' ? 'asc' : 'desc';
        $("input[name='sort']").val(v);
        ajax_get_table('search-form2',cur_page);
    }
    function order_pig(id){
     
        var url = "{:Url('Pig/order_pig')}"+"?id="+id;
        layer.open({
            type: 2,
            title: '修改订单结束时间',
            shadeClose: true,
            shade: 0.2,
            area: ['50%', '50%'],
            content: url,
        });
    }
</script>
</body>
</html>