{include file="public/header"/}
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3 class="panel-title"><i class="fa fa-list"></i>会员的鱼</h3>
                </div>
                <div class="ibox-content">
                    <div class="navbar navbar-default">
                            <form action="{:U('shop/Pig/piginuser')}" id="search-form2" class="navbar-form form-inline" method="post">

                               <!--  <div class="form-group">
                                    <label class="control-label" for="input-order-id">订单编号</label>
                                    <div class="input-group">
                                        <input type="text" name="pig_order_sn" placeholder="订单编号" id="input-order-id" class="input-sm" style="width:100px;">
                                    </div>
                                </div> -->
                                <div class="form-group">
                                    <label class="control-label" for="input-order-id">鱼的所属人手机号</label>
                                    <div class="input-group">
                                        <input type="text" name="mobile" placeholder="鱼的所属人手机号" id="input-member-id" class="input-sm" style="width:180px;">
                                    </div>
                                </div>
                               <div class="form-group">
                                    <label class="control-label" for="input-order-id">所属人id</label>
                                    <div class="input-group">
                                        <input type="text" name="id" placeholder="所属人id" id="input-member-id" class="input-sm" style="width:180px;">
                                    </div>
                                </div>
                                <div class="form-group">
                                   <select name="pig_level" class="input-sm" style="width:200px;">
                                            <option value="">请选择鱼等级</option>
                                            {foreach name="pig" item="v" key="k"}
                                            <option value="{$v['id']}">{$v['goods_name']}</option>
                                            {/foreach}
                                    </select>
                                </div>
                                <div class="form-group">
                                   <select name="is_able_sale" class="input-sm" style="width:200px;">
                                            <option value="">请选择状态</option>
                                            <option value="0">繁殖中</option>
                                            <option value="1">成熟</option>
                                    </select>
                                </div>
                      
                                <div class="form-group">
                                    <input type="hidden" name="order_by" value="order_id">
                                    <input type="hidden" name="sort" value="desc">
                                    <input type="hidden" name="user_id" value="{$Request.param.user_id}">
                                </div>
                                <div class="form-group">
                                    <a href="javascript:void(0)" onclick="ajax_get_table('search-form2',1)" id="button-filter search-order" class="btn btn-primary"><i class="fa fa-search"></i> 筛选</a>
                                </div>
                                <div class="form-group">
                                    <!-- <a href="{:url('Order/add_order')}" class="btn btn-primary"><i class="fa fa-search"></i>添加订单</a> -->
                                </div>                                
                                <!-- <button type="submit" class="btn btn-default pull-right"><i class="fa fa-file-excel-o"></i>&nbsp;导出excel</button>                                -->
                            </form>
                    </div>
                    <div id="ajax_return">

                    </div>
                </div>
            </div>
        </div>        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<script>
    $(document).ready(function(){
        ajax_get_table('search-form2',1);


    });

    // ajax 抓取页面
    function ajax_get_table(tab,page){
        cur_page = page; //当前页面 保存为全局变量
            $.ajax({
                type : "POST",
                url:"/shop/pig/piginuser/p/"+page,//+tab,
                data : $('#'+tab).serialize(),// 你的formid
                success: function(data){
                    $("#ajax_return").html('');
                    $("#ajax_return").append(data);
                }
            });
    }


    /**
     * 更改上级用户
     * @param id 需要更改的用户id
     */
    function change_pig(id){

        var url = "{:Url('Pig/change_pig')}"+"?id="+id;
        layer.open({
            type: 2,
            title: '填写指定ID',
            shadeClose: true,
            shade: 0.2,
            area: ['40%', '40%'],
            content: url,
        });

        
    }

        //删除用户
  function pigDel(id){
   if(confirm("确定要删除id为"+id+"的鱼吗？请谨慎操作"))
      {
             $.ajax({
                type : "POST",
                url:"/shop/pig/pigDel",
                data : {id:id},// 你的formid
                success: function(data){
                    if(data.code==1){
                         alert('删除成功!');
                         window.location.reload(); 
                    }else{
                        alert('删除失败!');
                    }
                }
            });
     }
     
   // lunhui.confirm(id,'{:url("pigDel")}');

 }

        //删除用户
  function pigDel(id){
      layer.confirm("确定要删除id为"+id+"的鱼吗？请谨慎操作,删除后不可恢复", {
          btn: ['确定','取消'] //按钮
      }, function(){
          $.ajax({
              type : "POST",
              url:"/shop/pig/pigDel",
              data : {id:id},// 你的formid
              success: function(data){
                  if(data.code==1){
                      layer.msg('删除成功', {icon: 1});
                      window.setTimeout(function(){
                          window.location.reload();
                      },2000)
                  }else{
                      layer.msg('删除失败', {icon: 1});
                  }
              }
          });
      }, function(){

      });
   /*if(confirm("确定要删除id为"+id+"的鱼吗？请谨慎操作"))
      {
             $.ajax({
                type : "POST",
                url:"/shop/pig/pigDel",
                data : {id:id},// 你的formid
                success: function(data){
                    if(data.code==1){
                         alert('删除成功!');
                         window.location.reload(); 
                    }else{
                        alert('删除失败!');
                    }
                }
            });
     }*/
     
   // lunhui.confirm(id,'{:url("pigDel")}');

 }


</script>
</body>
</html> 